@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1733747108563') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-color:before {
  content: "\e760";
}

.icon-icons_password:before {
  content: "\e629";
}

.icon-username:before {
  content: "\e618";
}

.icon-Privacy:before {
  content: "\e85e";
}

