* {
    margin: 0;
    padding: 0;
    font-size: 2vmin;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    overflow-x: hidden;
}

#loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    box-shadow: 0 0 5px #999;
}

#loading span {
    font-size: 20px;
    font-weight: bold;
    color: #ffca6d;
}


.loading-out {
    animation: loading-out 1s ease-in-out forwards;
    transform: translateY(100vh);
}

.loading-in {
    animation: loading-in 0.8s ease-in-out forwards;
    transform: translateY(0);
}

@keyframes loading-out {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100vh);
    }
}

@keyframes loading-in {

    0% {
        transform: translateY(100vh);
    }

    100% {
        transform: translateY(0);
    }
}

.gradient_text {
    color: white;
    background: linear-gradient(75deg, #ffc562, #fae0b2);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.alert_box {
    position: fixed;
    top: -100px;
    width: 60%;
    display: flex;
    justify-content: center;
}

.alert_show {
    animation: alert_show 0.5s ease;
    opacity: 1;
    transform: translateY(110px);
}

@keyframes alert_show {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(110px);
    }
}

.alert_hide {
    animation: alert_hide 0.5s ease;
    opacity: 0;
    transform: translateY(0);
}

@keyframes alert_hide {
    0% {
        opacity: 1;
        transform: translateY(110px);
    }

    100% {
        opacity: 0;
        transform: translateY(0);
    }
}

#message_box {
    position: fixed;
    width: 400px;
    height: 200px;
    box-shadow: 0 0 5px #999;
    z-index: 9998;
    border-radius: 30px;
    right: 20px;
    bottom: -300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.8s ease;
}

#message_box h1 {
    height: 30px;
    padding: 5px;
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    color: cornflowerblue;

}

#message_box div {
    margin: 8px;
    height: 70%;
    width: 90%;
    font-size: 20px;
    padding: 20px;
}

.message_show {
    transform: translateY(-320px);
    cursor: pointer;
}

.message_hide {
    animation: message_hide 0.8s ease;
    opacity: 0;
}

@keyframes message_hide {
    0% {
        transform: translateY(-320px);
        opacity: 1;
    }

    50% {
        transform: translateY(-320px) scale(0.9);
        opacity: 0;
    }
}

@media screen and (max-width: 768px) {
    #message_box {
        width: 90%;
        height: 150px;
        top: -200px;
    }

    .message_show {
        transform: translateY(220px);
    }

    .message_hide {
        transform: translateY(220px) scale(0.9) opacity(0);
    }
}