* {
    margin: 0;
    padding: 0;
    font-size: 2vmin;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    overflow-x: hidden;
}

#loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    box-shadow: 0 0 5px var(--secondary1);
}

#loading span {
    font-size: 20px;
    font-weight: bold;
    color: var(--background_conflict);
    animation: loading-span-animation 1s ease-in-out infinite alternate;
}

@keyframes loading-span-animation {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}


.loading-out {
    animation: loading-out 1s ease-in-out forwards;
    transform: translateY(100vh);
}

.loading-in {
    animation: loading-in 0.8s ease-in-out forwards;
    transform: translateY(0);
}

@keyframes loading-out {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100vh);
    }
}

@keyframes loading-in {

    0% {
        transform: translateY(100vh);
    }

    100% {
        transform: translateY(0);
    }
}

.gradient_text {
    color: white;
    background: linear-gradient(75deg, #ffc562, #fae0b2);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.alert_box {
    position: fixed;
    top: -100px;
    width: 50%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding: 10px;
    font-weight: 520;
    font-size: 18px;
}

#alert_success {
    color: #155724;
    border: 2px solid #c3e6cb;
    background-color: #d4edda;
}

#alert_error {
    color: #721c24;
    border: 2px solid #f5c6cb;
    background-color: #f8d7da;
}

#alert_warning {
    color: #916e05;
    border: 2px solid #ffeeba;
    background-color: #fff3cd;
}

.alert_show {
    animation: alert_show 0.5s ease;
    opacity: 1;
    transform: translateY(110px);
}



@keyframes alert_show {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(110px);
    }
}

.alert_hide {
    animation: alert_hide 0.5s ease;
    opacity: 0;
    transform: translateY(0);
}

@keyframes alert_hide {
    0% {
        opacity: 1;
        transform: translateY(110px);
    }

    100% {
        opacity: 0;
        transform: translateY(0);
    }
}

#message_box {
    position: fixed;
    width: 400px;
    height: 200px;
    box-shadow: 0 0 5px #999;
    z-index: 9998;
    border-radius: 30px;
    right: 20px;
    bottom: -300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.8s ease;
    background-color: var(--background);
}

#message_box h1 {
    height: 30px;
    padding: 5px;
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    color: var(--main);

}

#message_box div {
    margin: 8px;
    height: 70%;
    width: 90%;
    font-size: 20px;
    padding: 20px;
    color: var(--text);
}

.message_show {
    transform: translateY(-320px);
    cursor: pointer;
}

.message_hide {
    animation: message_hide 0.8s ease;
    opacity: 0;
}

@keyframes message_hide {
    0% {
        transform: translateY(-320px);
        opacity: 1;
    }

    50% {
        transform: translateY(-320px) scale(0.9);
        opacity: 0;
    }
}

@media screen and (max-width: 768px) {
    #message_box {
        width: 90%;
        height: 150px;
        top: -200px;
    }

    .message_show {
        transform: translateY(220px);
    }

    .message_hide {
        transform: translateY(220px) scale(0.9) opacity(0);
    }
}

#background {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background);
}

#menu_box_pc {
    height: 100vh;
    width: 100px;
    z-index: 9997;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--background2);
    box-shadow: 0 0 5px var(--secondary2);
    transition: 0.8s ease;
    padding: 20px;
}

#menu_show_btn_pc {
    background-color: var(--main);
    color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: var(--background) solid 10px;
    position: absolute;
    right: -30px;
    bottom: 50px;
    font-weight: bold;
}





@media screen and (max-width: 768px) {
    #menu_box_pc {
        display: none;
    }
}

#menu_box_mobile {
    height: 60px;
    width: 100%;
    z-index: 9997;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: var(--background);
    box-shadow: 0 0 5px #999;
    transition: 0.8s ease;
    padding: 20px;
}

@media screen and (min-width: 768px) {
    #menu_box_mobile {
        display: none;
    }
}