* {
    margin: 0;
    padding: 0;
    font-size: 2vmin;
    transition:  0.7s ease;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    overflow-x: hidden;
}

.gradient_text {
    color: white;
    background: linear-gradient(75deg, #ffc562, #fae0b2);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.alert_box {
    position: fixed;
    top: -100px;
    width: 50%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding: 10px;
    font-weight: 520;
    font-size: 18px;
    z-index: 9997;
}

#alert_success {
    color: #155724;
    border: 2px solid #c3e6cb;
    background-color: #d4edda;
}

#alert_error {
    color: #721c24;
    border: 2px solid #f5c6cb;
    background-color: #f8d7da;
}

#alert_warning {
    color: #916e05;
    border: 2px solid #ffeeba;
    background-color: #fff3cd;
}

.alert_show {
    animation: alert_show 0.5s ease;
    opacity: 1;
    transform: translateY(110px);
}



@keyframes alert_show {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(110px);
    }
}

.alert_hide {
    animation: alert_hide 0.5s ease;
    opacity: 0;
    transform: translateY(0);
}

@keyframes alert_hide {
    0% {
        opacity: 1;
        transform: translateY(110px);
    }

    100% {
        opacity: 0;
        transform: translateY(0);
    }
}

#message_box {
    position: fixed;
    width: 400px;
    height: 200px;
    box-shadow: 0 0 5px  var(--secondary2);
    z-index: 9998;
    border-radius: 30px;
    right: 20px;
    bottom: -300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background2);
    padding: 15px;
    overflow: auto;
}
#message_box::-webkit-scrollbar{
    width: 0;
}

#message_box h1 {
    height: 50px;
    text-align: center;
    width: 80%;
    padding: 5px;
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    color: var(--background_conflict);
}

#message_box div {
    margin-top: 8px;
    border-top: 2px var(--secondary2) solid;
    height: 70%;
    width: 90%;
    font-size: 20px;
    padding: 20px;
    color: var(--text);
}

.message_show {
    transform: translateY(-320px);
    cursor: pointer;
}

.message_hide {
    animation: message_hide 0.8s ease;
    opacity: 0;
}

@keyframes message_hide {
    0% {
        transform: translateY(-320px);
        opacity: 1;
    }

    50% {
        transform: translateY(-320px) scale(0.9);
        opacity: 0;
    }
}

@media screen and (max-width: 767px) {
    #message_box {
        width: 90%;
        height: 150px;
        top: -200px;
    }

    .message_show {
        transform: translateY(220px);
    }

    .message_hide {
        transform: translateY(220px) scale(0.9) opacity(0);
    }
}

#background {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background);
}

#menu_box_pc *{
    scrollbar-width: none;
}

#menu_box_pc {
    height: 100vh;
    width: 100px;
    z-index: 9996;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--background2);
    box-shadow: 0 0 10px var(--secondary2);
    padding: 10px;
}

#menu_show_btn_pc {
    background-color: var(--main);
    color: var(--text2);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: var(--background) solid 10px;
    position: absolute;
    right: -30px;
    bottom: 50px;
    font-weight: bold;
}
#menu_view_box_pc{
    width: 100%;
    height: 84%;
    left: 0;
    top: 0;
    overflow-x: hidden;
}
.menu_item_box{
    position: relative;
    width: 100%;
    margin-bottom: 18px;
    border-top: var(--secondary1) solid 2px;
}
.menu_item_box::-webkit-scrollbar, #menu_view_box_pc::-webkit-scrollbar{
    width: 0;
}
#menu_logo_box_pc{
    border-top: 0;
    height: 10%;
}
.menu_logo_svg{
    fill: var(--background_conflict);
}
#menu_navigation_box_pc{
    height: calc(38% - 25px);
    overflow: auto;
}
#menu_function_box_pc{
    height: calc(32% - 25px);
    overflow: auto;
}
#menu_user_box_pc{
    height: 20%;
    overflow: auto;
}
#menu_logo_svg_pc{
    height: 95%;
    position: absolute;
    top: 8px;
    left: 8px;
}
#menu_logo_box_pc h1{
    position: absolute;
    top: 18px;
    left: 100px;
    font-size: 40px;
    color: var(--background_conflict);
}
#menu_navigation_box_pc li{
    width: 100%
}
.menu_box_title {
    text-align: center;
    color: var(--secondary1);
    margin-top: 3px;
    margin-bottom: 0;
    font-size: 10px;
}
.menu_btn_pc{
    border: none;
    background-color: var(--background2);
    width: 100%;
    height: 45px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 5px;
}
.menu_btn_pc .iconfont{
    transition: 0.5s ease;
    font-size: 23px;
    font-weight: bold;
    color: var(--text3);
    width: 80px;
}
.menu_btn_text_pc{
    font-size: 16px;
    color: var(--text3);
    white-space: nowrap;
    transition: 0.5s ease;
    width: calc(100% - 80px);
}
.menu_btn_pc:hover{
    background-color: var(--main);
}
.menu_btn_pc:hover .iconfont, 
.menu_btn_pc:hover .menu_btn_text_pc{
    color: var(--text2);
}
.menu_this_page_pc{
    background-color: var(--main);
}
.menu_this_page_pc .iconfont,
.menu_this_page_pc .menu_btn_text_pc {
    color: var(--text2);
}

.menu_item_show_pc{
    animation: menu_item_show_pc 0.8s ease;
    display: block;
    opacity: 1;
    transform: scaleX(1);
}
.menu_item_hide_pc {
    animation: menu_item_hide_pc 0.3s ease;
    opacity: 0;
}
@keyframes menu_item_show_pc {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes menu_item_hide_pc {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
@media screen and (max-width: 767px) {
    #menu_box_pc {
        display: none;
    }
    #content_box{
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        height: calc(100% - 60px);
    }
}

#menu_bottom_box_mobile{
    height: 60px;
    width: 100%;
    z-index: 9997;
    position: fixed;
    left: 0;
    background-color: var(--background2);
    box-shadow: 0 0 10px  var(--secondary1);
    transition: 0.8s ease;
    padding: 8px 20px;
    display: flex;
    align-items: center;
}
#menu_bottom_box_mobile{
    bottom: 0;
}
.menu_btn_mobile{
    border: none;
    width: 25%;
    height: 100%;
    background-color: initial;
    color: var(--text3);
    font-weight: bold;
    font-size: 10px;
}
.menu_btn_mobile .iconfont{
    transition: 0s ease;
    font-size: 20px;
    display: block;
}
.menu_btn_mobile:hover{
    color: var(--background_conflict);
}
.menu_this_page_mobile{
    color: var(--background_conflict);
}
@media screen and (min-width: 767px) {
    #menu_bottom_box_mobile {
        display: none;
    }
    #content_box {
        position: fixed;
        top: 0;
        right: 0;
        width: calc(100% - 100px);
        height: 100vh;
    }
}
#menu_img_box{
    margin-top: 10px;
    width: 60px;
    position: absolute;
    left: 10px;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 3px var(--secondary2);
    cursor: pointer;
}
#menu_img_box img{
    width: 105%;
    border-radius: 50%;
    color: var(--background_conflict);
}
#menu_username_box{
    position: absolute;
    top: 0;
    height: 100px;
    left: 100px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--background_conflict);
    top: 8px;
    cursor: pointer;
}
#menu_username_text{
    font-size: 25px;
    transition: 0.5s ease;
}
.menu_open_state #menu_username_text{
    opacity: 1;
}
.menu_close_state #menu_username_text{
    opacity: 0;
}
#content_box{
    place-items: center;
    overflow: auto;
}
/* 滚动条样式 */
#content_box::-webkit-scrollbar {
    width: 5px;
    /* 滚动条宽度 */
    background-color: #f4f4f4;
    /* 滚动条背景色 */
}

/* 滚动条滑块 */
#content_box::-webkit-scrollbar-thumb {
    background-color: var(--secondary1);
}

/* 滚动条轨道 */
#content_box::-webkit-scrollbar-track {
    background-color: var(--secondary2);
}
.box{
    background-color: var(--background2);
    border-radius: 10px;
    box-shadow: 0 0 5px var(--secondary2);
    padding: 10px;
    position: relative;
    margin: 10px 0;
}
@media screen and (max-width: 767px) { 
    .box {
        border-radius: 5px;
    }
}
.level_icon{
    color: var(--background_conflict);
}
button.disabled {
    pointer-events: none;
    opacity: 0.6;
}
#other_btn{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#other_box{
    height: 300px;
    width: 90vw;
    overflow: hidden;
    background-color: var(--background2);
    border-radius: 8px;
    position: fixed;
    right: calc(5vw - 100vw);
    bottom: 70px;
    box-shadow: var(--secondary1) 0 0 10px;
    padding: 20px;
}
#other_btn:hover #other_box {
    transform: translateX(-100vw);
}
.other_menu_item{
    height: 50px;
    width: 50px;
}
#other_menu_title{
    width: 100%;
    height: 30px;
    font-size: 15px;
    color: var(--text3);
    text-align: center;
}