#title_box{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background_conflict);
}
#title_box h5{
    font-size: 20px;
}
.setting_title_box{
    width: 100%;
    padding: 0 calc(1% + 8px);
}
.setting_title{
    margin: 25px 0 5px 20px;
    color: var(--text3);
    font-size: 15px;
}
.setting_box{
    left: 1%;
    width: 98%;
    padding: 0;
    overflow: hidden;
}
.setting_item, #logout_btn{
    width: 100%;
    height: 80px;
    background-color: var(--background2);
    border: none;
    color: var(--text);
    position: relative;
    display: flex;
    align-items: center;
}
.setting_item:hover, #logout_btn:hover{
    background-color: var(--secondary2);
}
.setting_key{
    position: absolute;
    left: 30px;
    font-size: 18px;
    color: var(--background_conflict);
}
.setting_value{
    position: absolute;
    right: 30px;
    font-size: 15px;
}
@media screen and (max-width: 767px) {
    .setting_value {
        font-size: 12px;
        right: 10px;
    }
    .setting_key {
        left: 10px;
        font-size: 15px;
    }
}
.setting_box .iconfont{
    font-size: 20px;
    margin-right: 8px;
}
#logout_btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fd4d4d;
    height: 70px;
    font-size: 18px;
}
#color_box{
    height: 80px;
}
#show_color_box {
    height: 70px;
    width: 80%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    overflow-y: hidden;
    overflow-x: auto;
}
.color_box{
    margin-right: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.color_block{
    width: 30px;
    height: 30px;
    box-shadow: var(--background_conflict) 0 0 3px ;
    border-radius: 50%;
}
.color_block:hover{
    transform: scale(1.1);
}
.color_text{
    font-size: 13px;
    font-weight: bold;
}
@media screen and (max-width: 767px) {
    .color_text {
        font-size: 9px;
    }
    #show_color_box {
        width: 100%;
        margin: 0;
    }
}