<!DOCTYPE html>
<html lang="cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>

    <link rel="shortcut icon" href="{{ url_for('static',filename='images/logo-bird.svg') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <style>
        :root{
            --theme: {{ color[0] }};
            --auxiliary:  {{ color[1] }};
            --text:  {{ color[2] }};
            --background:  {{ color[3] }};
            --background_conflict:  {{ color[4] }};
            --success: {{ color[5] }};
            --warning: {{ color[6] }};
            --error: {{ color[7] }};
            --hover: {{ color[8] }};
            --click: {{ color[9] }};
        }
    </style>
    {% block head %}{% endblock %}
</head>

<body>
    <div id="background"></div>
    <div id="loading">
        <span></span>
    </div>
    <div class="alert alert-primary alert_box" role="alert" id="alert_primary">蓝色提示框（primary）</div>
    <div class="alert alert-secondary alert_box" role="alert" id="alert_secondary">灰色提示框（secondary）</div>
    <div class="alert alert-success alert_box" role="alert" id="alert_success">绿色提示框（success）</div>
    <div class="alert alert-danger alert_box" role="alert" id="alert_danger">红色提示框（danger）</div>
    <div class="alert alert-warning alert_box" role="alert" id="alert_warning">黄色提示框（warning）</div>
    <div class="alert alert-info alert_box" role="alert" id="alert_info">青色提示框（info）</div>
    <div class="alert alert-light alert_box" role="alert" id="alert_light">白色提示框</div>
    <div class="alert alert-dark alert_box" role="alert" id="alert_dark">深灰色提示框</div>

    <div id="message_box">
        <h1 id="message_title">标题</h1>
        <div id="message_content">内容</div>
    </div>

    <div id="menu_box">

    </div>
    {% block content %}{% endblock %}
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    {% block script %}{% endblock %}

</body>

</html>