{% extends 'base.html' %}

{% block title %}文栖 | 好友{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/friend.css') }}">
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/friend.js') }}"></script>
{% endblock %}


{%block content%}

<div id="friends_list_box">
    {%for i in user_datas["friends"]%}
        <div class="friend_item_box{%if user_datas['friends'][i][0]%} friend_message_box{%endif%}"  >
            <img src="/api/get_user_avatar_small/{{i}}" alt="" class="friends_list_avatar">
            <div class="friend_info">
                <p class="friends_list_username">{{i}}</p>
                <p class="friends_list_slogan">{{user_datas["friends"][i][1]}}</p>
            </div>
        </div>
    {%endfor%}
</div>
<div id="chat_box">
    
</div>
{%endblock%}