{% extends 'base.html' %}

{% block title %}文栖 | 好友请求{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/friend_request.css') }}">
{% endblock %}

{%block script%}
<script src="{{ url_for('static', filename='js/friend_request.js') }}"></script>
{%endblock%}

{%block content%}
<div id="title_box">
    <h3>我的好友请求</h3>
</div>
<div id="friend_request_list_box">
    {%for i in friend_request_list%}
        <div class="friend_request_item_box box">
            <img src="/api/get_user_avatar_small/{{i}}" alt="AprilQM">
            <div class="info_box">
                <h2>{{i}}</h2>
                <h6>{{friend_request_list[i]}}</h6>
            </div>
            <div class="btn_box">
                <button class="yes">同意</button>
                <button class="no">拒绝</button>
            </div>
        </div>
    {%endfor%}
</div>
{%endblock%}