{% extends 'base.html' %}

{% block title %}文栖 | {{user_datas["user_datas"]["username"]}}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/my_space.css') }}">
<style>
    :root{
        --check_in_days: {{user_datas["user_datas"]["check_in_days"]}};
        --next_level_need_days: {{user_datas["user_datas"]["next_level_need_days"]}};
    }
</style>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/my_space.js') }}"></script>
{% endblock %}

{%block content%}
<div id="background_img_box">
    <img src="/api/get_user_background/{{user_datas["user_datas"]["username"]}}" alt="背景" id="background_img">
</div>
<div id="user_content_box">
    <div id="user_info_box">
        <img src="/api/get_user_avatar/{{user_datas["user_datas"]["username"]}}" alt="头像" id="avatar_img">
        <div id="info_box">
            <h3 id="user_info_username">{{user_datas["user_datas"]["username"]}}</h3>
            <div id="level_box">
                <span class="iconfont icon-level-{{user_datas["user_datas"]["level"]}}" id="user_info_level"></span>
                <div id="level_bar_box">
                    <h6 id="level_text">{{user_datas["user_datas"]["check_in_days"]}}/{{user_datas["user_datas"]["next_level_need_days"]}}</h6>
                    <div id="level_bar"></div>
                </div>
            </div>
        </div>
        <div id="praise_box">
            <div id="praise_btn_box" onclick="jump_to_other_page_with_ui('/praise_list')">
                <button class="iconfont icon-praise" id="praise_btn"></button>
                <h5 id="praise_count">{{user_datas["user_space_info"]["praise_count"]}}</h5>
            </div>
        </div>
    </div>
    <div id="function_box">
        {%if user_datas["other"]["can_check"]%}
            <button id="check_in_btn" onclick="check_in()">签到</button>
        {%else%}
            <button id="check_in_btn" class="disabled">已签到</button>
        {%endif%}
        <div id="slogan_box">
            <h3 id="slogan_text">{{user_datas["user_space_info"]["slogan"]}}</h3>
        </div>
        <div id="tag_box"></div>
    </div>
</div>

{%endblock%}