{% extends 'base.html' %}

{% block title %}文栖 | 消息中心{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/notification.css') }}">
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/notification.js') }}"></script>
<script>
    const notifications = {{ notifications | tojson}}
</script>
{% endblock %}

{%block content%}
    <h1 id="choose_box_title"><span class="iconfont icon-paperplane"> </span> 消息中心</h1>
    <div id="view_box" class="left">
        <div id="choose_box">
            <div class="choose_item_box">
                <h1> 登录</h1>
            </div>
            <div class="choose_item_box">
                <h1> 好友</h1>
            </div>
            <div class="choose_item_box">
                <h1> 系统</h1>
            </div>
            <div class="choose_item_box">
                <h1> 其他</h1>
            </div>
        </div>
        <div id="right_box">
            <div id="title_box">
                <button class="iconfont icon-back" id="back_to_friend_btn" onclick="back_to_friend_list()"></button>
                <div id="title_content_box">
                    <h2 id="title">登录消息</h2>
                </div>
            </div>
            <div id="notification_content_box">
            </div>
        </div>
    </div>
{%endblock%}