{% extends 'base.html' %}

{% block title %}文栖 | 设置{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/setting.css') }}">
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/setting.js') }}"></script>
{% endblock %}

{%block content%}
        <div id="title_box">
            <h5>设置</h5>
        </div>
        <div class="setting_title_box">
            <h6 class="setting_title">账号</h6>
        </div>
        <div class="setting_box box">
            <button class="setting_item" onclick="jump_to_other_page_with_ui('/change_name?back=/setting')"><span class="setting_key"><span class="iconfont icon-username"></span>用户名</span> <span class="setting_value">{{user_datas["user_datas"]["username"]}}</span></button>
            <button class="setting_item" onclick="jump_to_other_page_with_ui('/change_mail?back=/setting')"><span class="setting_key"><span class="iconfont icon-mail"></span>邮箱</span> <span class="setting_value">{{user_datas["user_datas"]["email"]}}</span></button>
            <button class="setting_item" onclick="jump_to_other_page_with_ui('/change_password?back=/setting')"><span class="setting_key"><span class="iconfont icon-icons_password"></span>密码</span></button>
        </div>
        <div class="setting_title_box">
            <h6 class="setting_title">个性化</h6>
        </div>
        <div class="setting_box box">
            <div id="color_box">
                <button class="setting_item" onclick="open_change_ui_color_box()"><span class="setting_key"><span class="iconfont icon-color"></span>主题色</span> <span class="setting_value" id="theme_name_text">{{theme["name"]}}</span></button>
                <div id="show_color_box">
                    {%for i in user_datas["other"]["colors_can_use"]%}
                        <div class="color_box" onclick="change_to_this_color('{{i[0]}}')">
                            <div class="color_block" style="border: {{i[2]}} 5px solid;background-color:{{i[1]}}"></div>
                            <span class="color_text" style="color:{{i[1]}}">{{i[0]}}</span>
                        </div>
                    {%endfor%}
                </div>
            </div>
        </div>
        <div class="setting_title_box">
            <h6 class="setting_title">隐私</h6>
        </div>
        <div class="setting_box box">
            <button class="setting_item" onclick="change_privacy_mode()"><span class="setting_key"><span class="iconfont icon-privacy"></span>个人空间</span><span class="setting_value" id="privacy_text">
            {%if user_datas["setting"]["visit_my_space"] == 0%}
            公开
            {%elif user_datas["setting"]["visit_my_space"] == 1%}
            好友
            {%else%}
            隐藏
            {%endif%}
            </span></button>
        </div>
        <div class="setting_box box">
            <button id="logout_btn" onclick="window.location.href = '/api/logout'">退出登录</button>
        </div>
{%endblock%}