{% extends 'base.html' %}

{% block title %}文栖 | {{target_user_datas["user_datas"]["username"]}} 的个人主页{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user_space.css') }}">
{% endblock %}

{% block script %}
<script>
    const target_user_datas = {{target_user_datas|tojson}};
</script>
<script src="{{ url_for('static', filename='js/user_space.js') }}"></script>
{% endblock %}

{%block content%}
{%if can_visit%}
    <div id="background_img_box">
        <img src="/api/get_user_background/{{target_user_datas["user_datas"]["username"]}}" alt="背景" id="background_img">
    </div>
    <div id="user_content_box">
        <div id="user_info_box">
            <img src="/api/get_user_avatar/{{target_user_datas["user_datas"]["username"]}}" alt="头像" id="avatar_img">
            <div id="info_box">
                <h3 id="user_info_username">{{target_user_datas["user_datas"]["username"]}}</h3>
                <div id="level_box">
                    <span class="iconfont icon-level-{{target_user_datas["user_datas"]["level"]}}" id="user_info_level"></span>
                </div>
            </div>
            <div id="fuction_box">
                {%if not target_user_datas['is_friends']%}
                    <div id="friends_btn_box">
                        <button class="iconfont icon-AddFriend" id="add_friends_btn"></button>
                    </div>
                {%endif%}
                {%if target_user_datas["is_praise"] %}

                    <div id="praise_btn_box">
                        <button class="iconfont icon-praise" id="praise_btn"  style="color: var(--background_conflict);"></button>
                        <h5 id="praise_count" style="color: var(--background_conflict);">{{target_user_datas["user_space_info"]["praise_count"]}}</h5>
                    </div>
                {%else%}
                    <div id="praise_btn_box">
                        <button class="iconfont icon-praise" id="praise_btn"></button>
                        <h5 id="praise_count">{{target_user_datas["user_space_info"]["praise_count"]}}</h5>
                    </div>
                {%endif%}
            </div>
        </div>
        <div id="function_box">
            <div id="slogan_box">
                <h3 id="slogan_text">{{target_user_datas["user_space_info"]["slogan"]}}</h3>
            </div>
            <div id="tag_box"></div>
        </div>
    </div>
{%else%}
    <style>
        #content_box{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
        h1{
            font-size: 40px;
            color: var(--background_conflict);
        }
        .iconfont{
            font-size: 50px;
        }
        @media screen and (max-width: 767px) {
            h1{
                font-size: 20px;
                color: var(--background_conflict);
            }
            .iconfont{
                font-size: 30px;
                font-weight: bold;
            }
        }
    </style>
    <h1><span class="iconfont icon-knock"></span> Ta 的个人主页被锁上了哦~</h1>
{%endif%}
{%endblock%}